.layout
    position: relative
    height: 100vh
    display: grid
    grid-template-columns: repeat(20, 1fr)
    grid-template-rows: 6rem 1fr

.content
    grid-column: 2 / 21
    grid-row: 2 / 20

.nav
    grid-column: 2 / 21
    grid-row: 1 / 2